/* Navegación Home */
.routeNav{
  display: flex;
  padding-left:20px;
  margin-bottom: 20px;
}

.routeNav h3{
  margin: 15px;
  align-items: center;
}

.routeNav a img{
  margin: 15px 0;
  align-items: center;
  width: 20px;
}

/* Header de venta */

.headerFactura__date{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #142E38;
}

.headerFactura__fecha,
.headerFactura__id{
  margin: 5px 0;
}

.mainFactura{
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid gray;

}

.mainFacturaUser{
  display: flex;
  justify-content: space-around;
  padding: 0 10px;

}

.mainFacturaUser input{
  height:25px;
  text-align: center;
  margin: auto 0;
  border-radius: 5px;
  border-bottom: 2px solid #7AB7CF;
  border: 1px solid #7AB7CF;
  
}

/*  */

.headerFactura{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width:90%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 60px;
  
}

.addProduct{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding:20px 50px;
  border-radius: 10px;
  background-color: #015c6169;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 50px;
} 

.addProduct input{
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

.addProductSale{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding:20px 50px;
  border-radius: 10px;
  background-color: #015c6169;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 50px;
} 

.addProductSale input{
  border-radius: 10px;
  height: 30px;
  text-align: center;
}

.TotalVenta{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  padding:50px;
  border-radius: 10px;
  background-color: #015c6169;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 

.TotalVenta input{
  border-radius: 10px;
  height: 28px;
  text-align: center;
  width: 60%;
}

.listSales{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding:20px 50px;
  border-radius: 10px;
  background-color: #ddfff18a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
} 

.listSaleColum{
  display: flex;
  flex-direction: column;
  text-align: center;
}



.listSaleColum input{
  width: 75%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid #7AB7CF;
  border: 1px solid #7AB7CF;
}

.listSaleColum__Estado{
  margin: 0;
}


/* .listSalerow{
  margin: 60px;

} */


/* Maestro venta */
.maestroVenta{
  background-color: #015D61;
  color: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width:75%;
  margin: auto;
  border-radius:10px;
  margin-bottom: 50px;
  padding: 10px 0;
}

.HeaderMaestro{
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
  border-top: 1px solid #142E38;
}


.RegisterSale p{
  margin: 5px 0;
}
.optionFilter{
  border-radius: 5px;
  width: 30px;
  margin: 0 10px;
}

.SaleAdd{
  margin: auto 0;
  padding:50px;
  display: flex;
  justify-content: space-between;
}

.AgregarVenta{
  display: flex;
  justify-content: space-between

}

.AgregarProducto a{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #142E38;
  border-radius: 10px;
  height: 35px;
  padding: 10px;
  margin: auto 0;
  text-decoration: none;
  color: white;
}



.SaleAdd, .SaleAdd__register a{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #142E38;
  border-radius: 10px;
  height: 15px;
  padding: 15px;
  margin: auto 0;
  text-decoration: none;
  color: white;
  /* max-width: 50px; */
}


.SaleAdd__register a{
  height: 30px;
  margin-top: 10px;
  
  
}

.SaleAdd p{
  margin: 0;
  width: 100px;
  color: white;
  margin: 5px 0 0 15px;
  text-decoration: none;
}

.SaleAdd__register a p{
  margin: 0;
  max-width: 150px;
  color: white;
  margin: 5px 0 0 15px;
  text-decoration: none;
  padding-bottom: 5px;
}



.editSale{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
}


.editSale img{
  margin-top: 24px;
}


.deleteSale{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  
}

.deleteSale img{
  margin-bottom: 35px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
}

.button {
  background: #318161;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  position: absolute;
  right:200px;
  margin-top: 25px;
}

.buttonSale {
  background: #103526;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: white;
  padding: 7px;
  cursor: pointer;
  
}

@media screen and (min-width: 320px){
  
  .mainFacturaUser{
    display: flex;
    flex-wrap: wrap;
  }
  .mainFacturaUser input{
    height:18px;
    width: 170px;
    margin: 7px 0;
  }

  .HeaderMaestro{
    padding:0 5px;
  }

  .SaleAdd a{
    border-radius: 15px;
    height: 40px;
  }

  .form__option{
    margin:auto 0;
  }

  .optionFilter{
    border-radius: 5px;
    width: 40px;
    margin: 10px;
  }

  .optionFilter option{
    width: 20px;
  }
  

  .addProduct{
    width: 60%;
    padding:20px;
    flex-wrap: wrap;
  } 
  
  .addProduct input{
    border-radius: 10px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
  }

  .AgregarProducto a{
    margin-top: 10px;
    
  } 

  .addProductSale{
    width: 60%;
    padding:20px;
    flex-wrap: wrap;
  } 
  
  .addProductSale input{
    border-radius: 10px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
  }

  .addProductSale a{
    margin-top: 10px;
    
  } 

  .listSales{
    padding: 0 10px;
    width: 250px;
  }

  .listSaleColum input{
    width: 70%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 2px solid #7AB7CF;
    border: 1px solid #7AB7CF;
  }

  .listSale label{
    margin-top:60px;
    
  }

  #status{
    display: none;
  }

  #PrecioUnitario{
    display: none;
  }

  .editSale img{
    margin: 15px 5px 0 ;
  }

  .TotalVenta{
    width: 40%;
    margin: auto;
    padding:10px;
    border-radius: 10px;
    background-color: #015c6169;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 50px;
  } 
  
  .TotalVenta input{
    border-radius: 10px;
    height: 38px;
    text-align: center;
    width: 60%;
  }

}

@media screen and (min-width: 425px){
  
  .mainFacturaUser input{
    height:25px;
    width: 210px;
    margin: 5px 20px;
  }

  .HeaderMaestro{
    padding:0 15px;
  }

  .listSales{
    padding: 20px;
    width: 350px;
  }

  .listSaleColum input{
    width: 80%;
    
  }

  .button {
    position: absolute;
    right:50px;
    margin-top: 25px;
  }
 
}

@media screen and (min-width: 767px){
  .mainFacturaUser input{
    width: 130px;
    margin: 10px 0px;
    flex-wrap: none;
  }

  .HeaderMaestro{
    padding:0 25px;
  }

  .SaleAdd a{
    border-radius: 15px;
    height: 30px;
  }

  .listSales{
    width: 500px;
  }

  #status{
    display: flex;
  }

  .button {
    position: absolute;
    right:150px;
  }
  
}

@media screen and (min-width: 1024px){
  .mainFacturaUser input{
    height:25px;
    width: 170px;
  }
  .HeaderMaestro{
    padding:0 35px;
  }

  .listSales{
    min-width: 65%;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .TotalVenta{
    width: 20%;
    margin-bottom: 50px;
  } 
  
  .TotalVenta input{
    border-radius: 10px;
    height: 28px;
    text-align: center;
    width: 60%;
  }

  .button {
    position: absolute;
    right:250px;
  }
  
}

