/* media queries... de los h.. */

h1,
h2,
h3 {
  font-family: var(--second-font-family);
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

@media screen and (min-width: 425px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1240px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }
}
