@font-face {
    font-family: 'Encode Sans Expanded', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}